In [175]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [176]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
747,tt0480687,36000000,83160734,Hall Pass,Owen Wilson|Jason Sudeikis|Jenna Fischer|Chris...,Bobby Farrelly|Peter Farrelly,"One Week, No Rules",When best buds Rick and Fred begin to show sig...,105,Comedy,New Line Cinema|Conundrum Entertainment,2/25/2011,5.4,2011
210,tt0900387,15000000,9104716,Suite FranÃ§aise,Michelle Williams|Kristin Scott Thomas|Matthia...,Saul Dibb,Based on the Best Selling Novel,"France, 1940. In the first days of occupation,...",107,Drama|Romance|War,Qwerty Films|Alliance Films|Canal+|TF1 Droits ...,11/5/2014,6.9,2014
1256,tt1517260,44000000,63327201,The Host,Saoirse Ronan|Diane Kruger|Jake Abel|William H...,Andrew Niccol,You will be one of us,A parasitic alien soul is injected into the bo...,125,Action|Adventure|Romance|Science Fiction|Thriller,Nick Wechsler Productions|Open Road Films|Silv...,3/22/2013,6.0,2013
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,5.8,2015
439,tt1666186,20000000,80547866,Vampires Suck,Chris Riggi|Matt Lanter|Jenn Proske|Ken Jeong|...,Jason Friedberg|Aaron Seltzer,Some sagas just won't die.,"Becca, an anxious, non-vampire teen is torn be...",82,Horror|Comedy,20th Century Fox|Regency Enterprises,8/18/2010,4.3,2010

In [177]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [178]:
answers = {} # создадим словарь для ответов

data['profit'] = data.revenue - data.budget # добавляем столбец с прибылью для последующих заданий

# добавляем в датафрейм столбцы с месяцами, днями и годами
data['month'] = pd.to_datetime(data.release_date).dt.month
data['day'] = pd.to_datetime(data.release_date).dt.day
data['year'] = pd.to_datetime(data.release_date).dt.year

# данная функция нугаглена и преднезначена для подсчета значений в столбце
# на вход подается столбец со списками значений
def func11_1(series):
 return pd.Series([x for _list in series for x in _list])

# данная функция была подробно разобрана из предыдущей, чтобы понять, как оно работает, и
# ипреднезначена для подсчета значений в столбце, но выглядит немного иначе
# на вход подается столбец со списками значений
def func11_2(series):
    _list1 = []
    for _list in series:
        #print(_list)
        for x in _list:
            _list1.append(x)
    return pd.Series(_list1)

# даннаф функция приинимает на вход текст и выводит колчество слов (раздленных пробелами)
def word_counter(item):
    _list = item.split()
    word_count = len(_list)
    return word_count

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [179]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [180]:
# Получаем максимальный бюджет в датасете
max_budget = data[data.budget == data.budget.max()] 

# Выводим название картины и ее imdb_id
print(max_budget[['original_title', 'imdb_id']])

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [181]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [182]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals  (tt0279111)'

In [183]:
# получаем самую длительную длительность в датасете
max_runtime = data[data.runtime == data.runtime.max()]

# выводим фильм с получившейся длительностью
print(max_runtime[['original_title', 'imdb_id', 'runtime']])

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [184]:
# получаем минимальную длительность в датасете
min_runtime = data[data.runtime == data.runtime.min()]

# выводим фильм с полуившейся длительностью
print(min_runtime[['original_title', 'imdb_id', 'runtime']])

# записываем ответ в словарь
answers['3'] = '768. Winnie the Pooh  (tt1449283)'

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [185]:
# получаем среднюю длительность фильмов функцией mean()
mean_runtime = data.runtime.mean()

# округляем до целых и выводим полуичшиеся значение
print(round(mean_runtime))

# записываем ответ в словарь
answers['4'] = '110'

110

# 5. Каково медианное значение длительности фильмов?

In [186]:
# получаем медианную длительность фильмов функцией median()
median_runtime = data.runtime.median()

# округляем до целых и выводим полуичшиеся значение
print(round(median_runtime))

# записываем ответ в словарь
answers['5'] = '107'

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [187]:
# вводим переменную и записываем в нее максимальное значение profit из датасета
max_profit = data[data.profit == data.profit.max()]

# выводим данные о фильме с найденным профитом
print(max_profit[['original_title', 'imdb_id', 'profit']])

# записываем ответ в словарь
answers['6'] = '239. Avatar (tt0499549)'

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

# 7. Какой фильм самый убыточный?

In [188]:
# вводим переменную и записываем в нее минимальное значение profit из датасета
min_profit = data[data.profit == data.profit.min()]

# выводим название самого провального фильма
print(min_profit[['original_title', 'imdb_id', 'profit']])

# записываем ответ в словарь
answers['7'] = '1245. The Lone Ranger (tt1210819)'

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [189]:
# создаем новый датафрейм по условию "сборы > бюджет"
data8 = data[data.revenue > data.budget]

# считаем фильмы по названиям и выводим количество
print(data8.original_title.count())

# записываем ответ в словарь
answers['8'] = '1478'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [190]:
# создаем новый датафрейм, в который выбираем из исходного фильмы за 2008 год
data9 = data[data.release_year == 2008]

# вводим переменную и записываем в нее данные по фильму с максимальной прибылью
max_profit_2008 = data9[data9.profit == data9.profit.max()]

# выводим информацию по полченному фильму
print(max_profit_2008[['original_title', 'imdb_id', 'profit']])

# записываем ответ в словарь
answers['9'] = '599. The Dark Knight (tt0468569)'

      original_title    imdb_id     profit
599  The Dark Knight  tt0468569  816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [191]:
# создаем новый датафрейм, в который выбираем из исходного фильмы за 2012-2014 годы
data10 = data[(data.release_year >= 2012) & (data.release_year <= 2014)] 

# вводим переменную и записываем в нее данные по фильму с минимальной прибылью
min_profit_2012_2014 = data10[data10.profit == data10.profit.min()]

# выводим информацию по полченному фильму
print(min_profit_2012_2014[['original_title', 'imdb_id', 'profit', 'release_year']])

# записываем ответ в словарь
answers['10'] = '1245. The Lone Ranger (tt1210819)'

       original_title    imdb_id     profit  release_year
1245  The Lone Ranger  tt1210819 -165710090          2013

# 11. Какого жанра фильмов больше всего?

In [192]:
# копируем исходный датафрейм в новый
data11 = data.copy()

# разбиваем названия жанров на списки функцией split()
data11.genres = data.genres.str.split('|')

# применяем написанные ранее функции к датафрейму для подсчет значений
display(func11_1(data11_df['genres']).value_counts().head(1))

display(func11_2(data11_df['genres']).value_counts().head(1))

# записываем ответ в словарь
answers['11'] = '782'

Drama    782
dtype: int64

Drama    782
dtype: int64

ВАРИАНТ 2

In [193]:
# копируем исходный датафрейм в новый для обработки
data11 = data.copy()

# разбиваем названия жанров на списки функцией split()
data11.genres = data.genres.str.split('|')

# взрываем столбец с жанрами
data11 = data11.explode('genres')

# считаем количество жанров и выводим максимальное значение
display(data11.genres.value_counts().sort_values(ascending=False).head(1))

# записываем ответ в словарь
answers['11'] = '782'

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [194]:
# копируем исходный датафрейм в новый для обработки
data12 = data.copy()

# разбиваем названия жанров на списки функцией split()
data12.genres = data12.genres.str.split('|')

# перезаписываем датафрейм значениями, в которых профит больше нуля
data12 = data12[data12.profit > 0]

# взрываем столбец с жанрами
data12 = data12.explode('genres')

# считаем количество жанров и выводим результат
display(data12.genres.value_counts().head(1))

# записываем ответ в словарь
answers['12'] = 'Drama'

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [195]:
# копируем исходный датафрейм в новый для обработки
data13 = data.copy()

# разбиваем имена режиссеров на списки функцией split()
data13.director = data13.director.str.split('|')

# взрываем столбец с режиссерами
data13 = data13.explode('director')

# групприуем данные по режиссерам, суммируем прибыль, сортируем по убыванию и выводим топ1
display(data13.groupby('director').profit.sum().sort_values(ascending=False).head(1))

# записываем ответ в словарь
answers['13'] = 'Peter Jackson'

director
Peter Jackson    5202593685
Name: profit, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [196]:
# копируем исходный датафрейм в новый для обработки
data14 = data.copy()

# разбиваем названия жанров на списки функцией split()
data14.genres = data14.genres.str.split('|')

# врываем столбец с жанрами
data14 = data14.explode('genres')

# перезаписываем датафрейм по условия жанр=Action
data14 = data14[data14['genres'] == 'Action']

# разбиваем имена режиссеров на списке в новом датафрейме
data14.director = data14.director.str.split('|')

# взрываем столбец с именами режиссеров
data14 = data14.explode('director')

# считаем колчество фильмов в жанре Action с участием режиссеров
display(data14.director.value_counts().sort_values(ascending=False).head(1))

# записываем ответ в словарь
answers['14'] = 'Robert Rodriguez'

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [197]:
# копируем исходный датафрейм в новый для обработки
data15 = data.copy()

# перезаписываем датафрейм фильмами за 2012 год
data15 = data15[data15['release_year'] == 2012]

# разбиваем стобец с актерами на списки
data15.cast = data15.cast.str.split('|')

# врываем столбец с актерами
data15 = data15.explode('cast')

# грцппируем данные по актеру, считаем суммарную прибыль фильма, сортируем по убыванию и выводим топ1
display(data15.groupby('cast').profit.sum().sort_values(ascending=False).head(1))

# записываем ответ в словарь
answers['15'] = 'Chris Hemsworth'

cast
Chris Hemsworth    1542450773
Name: profit, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [198]:
# копируем исходный датафрейм в новый для обработки
data16 = data.copy()

# перезаписываем датафрейм по условию бюджет выше среднего
data16 = data16[data16.budget > data16.budget.mean()]

# разбиваем столбец с актерами на списки
data16.cast = data16.cast.str.split('|')

# применяем функцию из преобработки, считаем количество фильмов с актерами и выводим максимальный
display(func11_1(data16['cast']).value_counts().head(1))

# записываем ответ в словарь
answers['16'] = 'Matt Damon'

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [199]:
# копируем исходный датафрейм в новый для обработки
data17 = data.copy()

# разбиваем столбец с актерами на списки
data17.cast = data17.cast.str.split('|')

# взрываем столбец с именами актеров
data17 = data17.explode('cast')

# перезаписываем датафрейм и оставляем только Николаса Кейджа
data17 = data17[data17.cast == 'Nicolas Cage']

# разбиваем столбец с жанрами на списки
data17.genres = data17.genres.str.split('|')

# применяем функцию из преобработки, считаем количество фильмов с Николасом Кейджом по жанрам и выводим максимальный
display(func11_1(data17['genres']).value_counts().head(1))

# записываем ответ в словарь
answers['17'] = 'Action'

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [200]:
# копируем исходный датафрейм в новый для обработки
data18 = data.copy()

# разбиваем названия компаний на списки
data18.production_companies = data18.production_companies.str.split('|')

# врываем столбец с названиями компаний
data18 = data18.explode('production_companies')

# оставляем в датафрейме данные только по компании Paramount Pictures
data18 = data18[data18['production_companies'] == 'Paramount Pictures']

# выводим самый убыточный фильм
display(data18[data18.profit == data18.profit.min()])

# записываем ответ в словарь
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,day,year
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034,7,19,2002

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [201]:
# копируем исходный датафрейм в новый для обработки
data19 = data.copy()

# группируем данные по году, применяем аггрегирующую функцию, сортируем и выводим результат
display(data19.groupby('release_year').profit.sum().sort_values(ascending=False).head(1))

# записываем ответ в словарь
answers['19'] = '2015'

release_year
2015    18668572378
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [202]:
# копируем исходный датафрейм в новый для обработки
data20 = data.copy()

# разбиваем названия компаний на списки
data20.production_companies = data20.production_companies.str.split('|')

# врываем столбец с названиями
data20 = data20.explode('production_companies')

# оставляем данные, где название компании содержит Warner Bros
data20 = data20[data20.production_companies.str.contains('Warner Bros')]

# группируем по году, считаем прибыль и выводим рузельтат
data20.groupby('release_year').profit.sum().sort_values(ascending=False).head(1)

# записываем ответ в словарь
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [203]:
# копируем исходный датафрейм в новый для обработки
data21 = data.copy()

# считаем месяца, сортируем и выводим результат
display(data21.month.value_counts().sort_values(ascending=False))

# записываем ответ в словарь
answers['21'] = 'Сентябрь'

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [204]:
# копируем исходный датафрейм в новый для обработки
data22 = data.copy()

# считаем количество фильмов в 6-8 месяцы и суммируем их
display(data22.month[(data22.month >=6) & (data22.month <=8)].value_counts().sum())

# записываем ответ в словарь
answers['22'] = '450'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [205]:
# копируем исходный датафрейм в новый для обработки
data23 = data.copy()

# перезаписывем датафрейм только зимними фильмами
data23 = data23[(data23.month == 12) | (data23.month == 1) | (data23.month == 2)]

# разбиваем столбец с режиссерами на списки
data23.director = data23.director.str.split('|')

# взрываем столбец с режиссерами
data23 = data23.explode('director')

# считаем количество фильмов каждого режиссера и выводим результат
display(data23.director.value_counts().sort_values(ascending=False).head(1))

# записываем ответ в словарь
answers['23'] = 'Peter Jackson'

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [206]:
# копируем исходный датафрейм в новый для обработки
data24 = data.copy()

# добавляем в датафрейм новый столбец из подсчитанной длинный названий
data24['title_len'] = data24.original_title.apply(len)

# разбиваем названия компаний на списки
data24.production_companies = data24.production_companies.str.split('|')

# врываем столбец с названиями компаний
data24 = data24.explode('production_companies')

# шруппируем по названию компании, считаем среднее значение и выводим топ
display(data24.groupby('production_companies').title_len.mean().sort_values(ascending=False).head(1))

# записываем ответ в словарь
answers['24'] = 'Four By Two Productions'

production_companies
Four By Two Productions    83.0
Name: title_len, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [207]:
# копируем исходный датафрейм в новый для обработки
data25 = data.copy()

# добавляем столбец с количеством слов в описании
data25['overview_len'] = data25.overview.apply(word_counter)

# разделяем названия компаний на списки
data25.production_companies = data25.production_companies.str.split('|')

# врызваем столбец с названиями компаний
data25 = data25.explode('production_companies')

# группируем по названию, считаем среднее значение по количеству слов и выводим топ1
display(data25.groupby('production_companies').overview_len.mean().sort_values(ascending=False).head(1))

# записываем ответ в словарь
answers['25'] = 'Midnight Picture Show'

production_companies
Midnight Picture Show    175.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [208]:
# копируем исходный датафрейм в новый для обработки
data26 = data.copy()

# выбираем фильмы топ 1% и выводим результат
display(data26.original_title[data26.vote_average > data26.vote_average.quantile(0.99)])

# записываем ответ в словарь
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [209]:
# этот вопрос я не успел проработать, так как отключилось электричество :(. Сдаю без него, чтобы успеть к сроку.

# записываем ответ в словарь
answers['27'] = ''

# Submission

In [210]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides  (tt1298650)',
 '2': '1157. Gods and Generals  (tt0279111)',
 '3': '768. Winnie the Pooh  (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': '782',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ''}

In [211]:
# и убедиться что ни чего не пропустил)
len(answers)

27